@charset "UTF-8";
/* CSS Document */
/* 
** Accordion Stylesheet
** v1.0.0
** Last Updated: 2018-06-02
** Author: Enoch Daniel Adams - http://e-noch.geithub.io/compiled
** Twitter: @dustanashes
*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
border: none !important;
background: none !important;
font-weight: normal;
color: #ff4a3b;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
border: none !important;
background: none !important;
font-weight: normal;
color: #CF5A56;
}
.ui-widget-content {
    border: 0px solid #333333 !important;
    background: #333333 !important;
    color: #FFFFFF; 
}
.iconItem {
	width: 200px;
	height: auto;
}
.iconItem img{
	width: 100%;
	height: auto;
}
