@charset "UTF-8";
/* CSS Document */

h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
    padding-bottom: 0;
}
p {
    font-size: 1.5em;
    margin-top: 0;
    padding-top: 0;
}
#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url("http://e-noch.github.io/Book_01/images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}