@charset "UTF-8";
@font-face {
  font-family: 'Fredoka';
  src: url('Fredoka dingbats.otf'); 
  src: url('FredokaOne-Regular.otf');
}
/* CSS Document */

body {
	font-family: "HelveticaNue-light", "Helvectica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucide Grande", sans-serif;
	font-weight: 300;
}

.landing {
	width: 100%;
	background-color: #7C3B74;
	padding: 206px 0px 0px 0px;
	color: #ffffff;
}
.pWrapper {
	width: 100%;
	background-color: #7C3B74;
}

.bCrumbs h4{
	font-size: 14px;
	font-weight: 100;
}

.goalCircle {
	width: 190px;
	height: 190px;
	border: 2px solid #202020;
	border-radius: 190px;
	text-align: center;
}

.raised p{
	font-size: 150px;
	font-weight: 900;
}

.raisedBox {
	text-align: center;
	margin: 0 auto;
	border: 2px solid #7C3B74;
	border-radius: 5px;
	background-color: #202020;
}
.raisedBox p{
	font-size: 30px;
	margin-top: 3px;
    margin-bottom: 3px;
}
.orBox {
	width: 400px !important;
}
.rbUser {
	
}


/*
 *
 * User Action Style
 *
 */
.sectionTitle {
	font-size: 38px;
	font-weight: 500;
	margin: 80px 0 0 0;
}

.dNote {
	background-color: #202020;
	border-radius: 5px;
}
.dNote p{
	padding: 20px;
}

.dAmount {
	display: block;
	width: auto;
    height: 20px;
}
.dAmount p{
	float: left;
}

.sLHPosition {
	position: relative;
	right: 143px;
}

.sLHighlight {
	color: #fff;
	padding: 3px 11px;
	height: 65px;
	width: 1px;
	border: 2px solid #7C3B74;
	background-color: #1C1C1C;
	position: relative;
	z-index: 1;
	border-radius: 5px;
	    /* margin: 0px 0 0 0px; */
    bottom: 20px;
    left: 3px;
}

.backback01 {
	width: 24px;
	height: 45px;
	position: relative;
    top: 5px;
	right: 10px;
    z-index: 2;
	background-color: #1C1C1C;
}

.lHighlightTxt {
	width: 120px;
	height: auto;
	position: relative;
	z-index: 6;
	bottom: 30px;
}

/*
*
* Form Style
*
*/
form {
	position: relative;
	bottom: 110px;
}
input[type=text] {
	color: #ffffff;
	border: 2px solid #7C3B74;
	border-radius: 5px;
	background: #1C1C1C;
	position: relative;
    padding: 35px 0 28px 32px;
	width: 100%;
}
input[type=submit] {
	position: relative;
	margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    border-radius: 5px;
}

/*
 *
 * About Perks Section Style
 *
 */
.aboutPerksTxt p{
	width: 200px;
}

/*
 * Medium Arrow Style
 */
.mArrow {
	float: right;
	width: 269px;
	height: 143px;
}
.mArrow img{
	width: 100%;
	height: auto;
}
/*
 * Small Arrow Style
 */
.mArrow020 {
	    /* float: right; */
    width: 120px;
    height: auto;
	position: relative;
    top: 180px;
}
.mArrow020 img{
	width: 100%;
	height: auto;
}
/*
 *
 * Perk One Style
 *
 */
.p1 {
	padding: 120px 0 120px 0;
	background-color: #202020;
	color: #ffffff;
}

@media (max-width: 768px) {
	.leftPerkImg {
		width: 443px !important;
		height: auto;
	}	
}

.leftPerkImg {
	width: 680px;
	height: auto;
}
.leftPerkImg img{
	width: 100%;
	height: auto;
}
/*
 * Perk Side Content Box
 */
.sLHPosition002 {
	padding: 20px;
	position: relative;
}

.sLHighlight002 {
	color: #fff;
	padding: 0px 20px;
   	height: 281px;
    width: 255px;
	border: 2px solid #7C3B74;
	background-color: #202020;
	position: relative;
	z-index: 1;
	border-radius: 5px;
	    /* margin: 0px 0 0 0px; */
    bottom: 20px;
    left: 3px;
}

.backback002 {
	width: 304px;
    height: 268px;
	position: relative;
    top: 5px;
	right: 47px;
    z-index: 2;
	background-color: #202020;
}

.lHighlightTxt002 {
	width: 233px;
	height: auto;
	position: relative;
	z-index: 6;
	bottom: 250px;
}


/*
 *
 * Perk Section 2 Style
 *
 */
.p2 {
	padding: 120px 0 120px 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #ffffff !important;
	background: url(https://e-noch.github.io/Book_01/images/Black-Background-Outline-Path-1130_2x.png) right 70% no-repeat, url(https://e-noch.github.io/Book_01/images/Black-Background-Outline-Path-1130_2x.png) right 50% no-repeat, url(https://e-noch.github.io/Book_01/images/Black-Background-Outline-Path-1131_3x.png) left 22% no-repeat;
	background-size: cover;
	background-position-x: -180%; 
}

.leftPerkImg02 {
	width: auto;
	height: 508px;
}
.leftPerkImg02 img{
	width: auto;
	height: 100%;
		
}
/*
 * Perk Side Content Box
 */
.pBox02 {
	text-decoration: none;
}
.pBox02 .sLHighlight0003:hover {
	background-color: #7C3B74;
}
.pBox02 .sLHighlight0003:hover p{
	color: #fff !important;
}
.pBox02 p{
	color: #202020;
}
.pBox02:hover p{
	
}
.sLHPosition0003 {
	padding: 20px;
	position: relative;
}

.sLHighlight0003 {
	color: #fff;
	padding: 0px 20px;
   	height: 281px;
    width: 255px;
	border: 2px solid #7C3B74;
	position: relative;
	z-index: 1;
	border-radius: 5px 5px 0 0;
	    /* margin: 0px 0 0 0px; */
    bottom: 20px;
    left: 3px;
}

/*.backback0003 {
	width: 304px;
    height: 268px;
	position: relative;
    top: 5px;
	right: 47px;
    z-index: 2;
	background-color: #fff;
}*/

.lHighlightTxt0003 {
	width: 233px;
	height: auto;
	position: relative;
	z-index: 6;
	bottom: 0px;
}
/*
 * Perk Two Form Style
 */
.pBox020 {
	text-decoration: none;
}
.pBox020 .sLHighlight0003:hover {
	background-color: #7C3B74;
}
.pBox020 .sLHighlight0003:hover p{
	color: #fff !important;
}
.pBox020 p{
	color: #202020;
}
.pBox020:hover p{
	
}
.dNote02 {
	width: 255px;
    height: auto;
    background-color: #202020;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin: 23px;
    bottom: 64px;
}
.dNote02 p{
	padding: 20px;
	color: #fff;
}

.dAmount02 {
	display: block;
	width: auto;
    height: 20px;
}
.dAmount02 p{
	float: left;
}
/*
 * Perk Side Content Box
 */
.sLHPosition010 {
	padding: 20px;
	position: relative;
}

.sLHighlight010 {
	color: #fff;
    padding: 0px 20px;
    height: 52px;
    width: 53px;
    border: 2px solid #7C3B74;
    background-color: #202020;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    margin: 0px 0 0 20px;
    bottom: 119px;
    left: 2px;
}

.backback010 {
	width: 34px;
    height: 42px;
    position: relative;
    bottom: -3px;
    right: 1px;
    z-index: 2;
    background-color: #202020;
}

.lHighlightTxt010 {
	width: 83px;
    height: auto;
    position: relative;
    z-index: 6;
    bottom: 45px;
    padding: 15px;
	
}

.lHighlightTxt010 p{
	color: #fff;
}

form.p2SectionForm {
	position: relative;
	bottom: 168px;
}
input.p2SectionFormAmount[type=text] {
	color: #ffffff;
	border: 2px solid #7C3B74;
	border-radius: 5px;
	background: #202020;
	position: relative;
    padding: 12px 0 12px 21px;
    width: 212px;
    bottom: 27px;
}
input.p2SectionFormSubmit[type=submit] {
	position: relative;
    margin: 0px;
    padding: 20px;
    width: 259px;
    height: 60px;
    border-radius: 5px;
    left: 20px;
}
