@charset "UTF-8";
/* CSS Document */
#pageOuter {
	height: 100%
}
#pageContainer {
	width: 1200px;
	position: relative;
	padding: 56px 14px 15px;
}
main {
	margin: 0 auto;
	text-align: left;
}
/* 
**
** Hero Image Style 
**
*/
.heroImg {
	margin: 0 auto;
	width: 100%;
	height: 250px;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	background-image: url(images/_MG_0337.JPG);
	background-repeat: no-repeat;
	background-position: bottom center;
}
.heroImg img{
	width: 150%;
	height: auto;
}
/* 
**
** Dashboard Left Section Style 
**
*/
.dashboardLeft {
	float: left;
	width: 450px;
}

/* 
**
** Time Line Right Section Style 
**
*/
.timeLineRight {
	float: left;
	width: 550px;
	margin: 0 10px;
}
