@charset "UTF-8";
/* CSS Document */
/* 
**
** Page Structure Style 
**
*/
body {
	background-color: #202020;
}
#pageOuter {
	height: 100%;
	width: 100%;
	background-color: #202020;
	color: #fff;
}
#pageContainer {
	width: 1200px;
	position: relative;
	padding: 56px 14px 30px 0;
	margin: 0 auto;
}
main {
	margin: 0 auto;
	text-align: left;
}
/* 
**
** Hero Image Style 
**
*/
header {
}
.heroImg {
	margin: 0 auto;
	width: 100%;
	height: 120px;
	overflow: hidden;
	background: url(https://e-noch.github.io/Book_01/images/_MG_0337.JPG);
	background-repeat: no-repeat;
	background-position: bottom center;
	border-bottom: 2px solid;
	border-bottom-color: #7C3B74;
}
.heroImg img{
	width: 150%;
	height: auto;
}
/* 
**
** Dashboard Left Section Style 
**
*/
.dashboardLeft {
	float: left;
	width: 450px;
}
.dashboardLeft ul{
	list-style: none;
	text-decoration: none;
}
.bread {
	color: #A2A2A2;
}
.dashboardLeft li{
	width: 308px;
	height: 100%;
}
.dashboardLeft details{
	float: right;
	position: relative;
	bottom: 34px;
}
.dashboardLeft p{
	width: 200px;
	font-size: 21px;
}
.rulesButton  {
	color: #fff;
	padding: 3px 11px;
	height: 30px;
	width: 86px;
	border: 2px solid #7C3B74;
	background-color: #1C1C1C;
	position: relative;
	z-index: 1;
	border-radius: 5px;
}
.rBTxt {
	width: 120px;
	height: auto;
	position: relative;
	z-index: 6;
	bottom: 23px;
}
.backback {
	width: 113px;
	height: 30px;
	position: relative;
    top: 0;
	right: 13px;
    z-index: 2;
	background-color: #1C1C1C;
}
/* 
**
** Time Line Right Section Style 
**
*/
.timeLineRight {
	float: left;
	width: 550px;
	margin: 0 10px;
}

