@charset "UTF-8";
/* CSS Document */

/* 
**
** Box Contents Style 
**
*/
#slideNav {
	padding: 20px;
	display: block;
	list-style: none;
	margin-top: 0px;
}
#slideNav a{
	width: 30px;
	height: 30px;
	display: block;
	line-height: 50px;
	padding: 0px 20px;
	color: #fff;
	/*background: rgba(255,255,255,0.9);*/
	margin-top: 0px;
	margin-bottom: 6px;
	float: left;
	text-decoration: none;
	
}