@charset "UTF-8";
/* CSS Document */

#block {
	width: 470px;
	height: 300px;
	margin: 100px 50px 30px 40px;
	padding: 5px 29px;
/*	background: #00FF46;
	border: 10px solid #000000;*/
}
label {
	display: block;
	float: left;
	width: 10em;
	text-align: right;
	margin: 1em;
	padding-right: 3em;
}
input {
	display: block;
	float: left;
}