@charset "UTF-8";
/* CSS Document */
/* 
**
** Page Structure Style 
**
*/
#pageOuter {
	height: 100%;
	width: 100%;
	background-color: #202020;
	overflow: auto;
	color: #fff;
}
#pageContainer {
	width: 1200px;
	position: relative;
	padding: 56px 14px 15px;
	margin: 0 auto;
}
main {
	margin: 0 auto;
	text-align: left;
}
/* 
**
** Hero Image Style 
**
*/
header {
}
.heroImg {
	margin: 0 auto;
	width: 100%;
	height: 120px;
	overflow: hidden;
	background: url(images/MG_0337.JPG);
	background-repeat: no-repeat;
	background-position: bottom center;
	border-bottom: 1px solid;
	border-bottom-color: #7C3B74;
}
.heroImg img{
	width: 150%;
	height: auto;
}
/* 
**
** Dashboard Left Section Style 
**
*/
.dashboardLeft {
	float: left;
	width: 450px;
}

/* 
**
** Time Line Right Section Style 
**
*/
.timeLineRight {
	float: left;
	width: 550px;
	margin: 0 10px;
}

/* 
**
** Hero Image Style 
**
*/
.bread {
	color: #A2A2A2;
}
