@charset "UTF-8";
/* CSS Document */
/* Navigation Style */

header {
	position: absolute;
	z-index: 2000;
	width: 635px;
	top: 50px;
	left: 30%;
}
#navagation {
	margin: 20px auto;
	width: 350px;
	height: 45px;
	display: block;
	list-style: none;
	z-index: 3;
	border-radius: 5px;
	background: rgba(255,255,255,0.9);
}
#navagation a{
	color: #444;
	display: block;
/*	background: #fff;
	background: rgba(255,255,255,0.9);*/
	line-height: 50px;
/*	padding: 0px 20px;*/
	text-transform: uppercase;
	margin-bottom: 6px;
	float: left;
	text-decoration: none;
}
.endPie {
	right: -5px;
}
/* Panel Style */
.panel {
	min-width: 100%;
	height: 98%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: -250%;
	position: absolute;
	background: #000;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
	z-index: 2;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.panel:target {
	margin-top: 0%;
	background-color: #202020;
}
/* Content Style */
.content {
	right: 40px;
	left: 100px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}
.content h1{
	font-size: 80px;
	padding: 100px 0px 0px 0px;
	margin-top: 102px;
	color: #fff;
}
.content p{
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	margin: 3px 0px;
}
/* 
**
** Home Page Style 
**
*/
/* Wrapper Style */
.wrapper {
	margin: 0 auto;
	background: #202020;
}
.logo {
	padding: 10px 0px 0px 0px;
	margin-top: 200px;
}
.csliwes p{
	font-size: 30px;
	line-height: 38px;
	color: white;
	margin: 3px;
	padding: 10px;
}

/* 
**
** Play Section Style 
**
*/
.mStyle {
    color: #ff4a3b;
    font-size: 109px;
    line-height: 103px;

}
.blockTab {
	margin: 0 auto;
	width: 702px;
	height: 320px;
}
.iconItem {
	float: left;
	padding: 20px;
}
.iconInfo {
	float: left;
	padding: 20px;
	margin-top: 20px;
	width: 60%;
}
.iconInfo h4 {
	padding-bottom: 10px;
}
.endTab {
	margin-top: 20px;
}
/* Footer Style */

.footer p{
	padding: 8px 10px 0 10px;
	font-size: 12px;
	overflow: hidden;
	float: right;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #7E7E7E;
}
.vMore {
	float: right;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: 10px;
	top: 2px;
	cursor:pointer;
	height: 100%;
	width: 30px;
	overflow: hidden;
}
#wrapperFamily {
	margin: 0 auto;
	width: 400px;
	height: 125px;
}
#wrapperFamily p {
	z-index: 8000;
}
#wrapperFamily a {
	z-index: 8000;
}
#agape {
	float: left;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	z-index: 5000;
	height: 125px;
	width: auto;
}
#agape img {
	position: absolute;
	bottom: -20px;
	left: 0;
	height: 100%;
	width: auto;
}
#dad {
	float: left;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	z-index: 2000;
	height: 154px;
	width: auto;
}
#dad img {
	position: absolute;
	bottom: -20px;
	left: 80px;
	height: 100%;
	width: auto;
}
#enoch {
	float: left;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	z-index: 2000;
	height: 154px;
	width: auto;
}
#enoch img {
	position: absolute;
	bottom: -20px;
	left: 172px;
	height: 100%;
	width: auto;
}
#mom {
	float: left;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	z-index: 2000;
	height: 124px;
	width: auto;
}
#mom img {
	position: absolute;
	bottom: -20px;
	left: 242px;
	height: 100%;
	width: auto;
}
#link-boxContents {
	
}

/* Change color of current item in nav */
#home:target ~ header #navagation #link-home .iconHouse, 
#boxArt:target ~ header #navagation .iconBrowser,
#boxContents:target ~ header #navagation .iconContents,
#Map:target ~ header #navagation .iconMap,
#Play:target ~ header #navagation .iconContrast,
#App:target ~ header #navagation .iconMobile,
#Stats:target ~ header #navagation .iconChart{
	box-shadow: 1px 1px 2px rgba(207,90,86,1);
	background: rgba(204,82,128,0.9);
}