@charset "UTF-8";
/* CSS Document */
/* Navigation Style */

header {
	position: absolute;
	z-index: 2000;
	top: 50px;
	width: 100%;
}
#navagation {
	margin: 0 auto;
	width: 350px;
	height: 45px;
	display: block;
	list-style: none;
	z-index: 3;
	border-radius: 5px;
	background: rgba(255,255,255,0.9);
}
#navagation a{
	color: #444;
	display: block;
/*	background: #fff;
	background: rgba(255,255,255,0.9);*/
	line-height: 50px;
/*	padding: 0px 20px;*/
	text-transform: uppercase;
	margin-bottom: 6px;
	float: left;
	text-decoration: none;
}
.endPie {
	right: -5px;
}
/* Panel Style */
.panel {
	min-width: 100%;
	height: 98%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: -250%;
	position: absolute;
	background: #000;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
	z-index: 2;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.panel:target {
	margin-top: 0%;
	background-color: #202020;
}
/* Content Style */
.content {
	/* right: 40px; */
	/* left: 100px; */
	/* top: 0px; */
	position: absolute;
	/* padding-bottom: 30px; */
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.content h1{
	font-size: 80px;
	padding: 100px 0px 0px 0px;
	margin-top: 102px;
	color: #fff;
	text-transform: uppercase;
}
.content p{
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	margin: 3px 0px;
}
/* 
**
** Home Page Style 
**
*/
/* Wrapper Style */
.wrapper {
	margin: 0 auto;
	background: #202020 !important;
	width: 100%;
}
.bSlider {
	width: 100%;
	height: auto;
	overflow: scroll;
}
video {
	width: 100%;
	height: auto;
	max-height: 100%;
}
.img01 {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	max-height: 1300px;
}
.img01 img{
	margin: 0 auto;
	width: 100%;
}
.mButton {
	width: 50px;
	height: 50px;
	position: relative;
	float: right;
	bottom: 46px;
	right: 20%;
}
.mButton img {
	width: 100%;
	border-radius: 5px;
}
/* 
**
** Box Art Section Style 
**
*/
.bSpecial {
	width: 1130px;
	height: 1000px;
	right: 0 !important;
	overflow: hidden;
}
/* 
**
** Play Section Style 
**
*/
.mStyle {
    color: #ff4a3b;
    line-height: 103px;

}
.mTag {
	width: 300px;
}
.blockTab {
	margin: 0 auto;
	width: 702px;
	height: 320px;
}
.iconItem {
	float: left;
	padding: 20px;
}
.iconInfo {
	float: left;
	padding: 20px;
	margin-top: 20px;
	width: 60%;
}
.iconInfo h4 {
	padding-bottom: 10px;
}
.endTab {
	margin-top: 20px;
}
/* 
**
** Footer Style 
**
*/
footer p{
	padding: 8px 10px 0 10px;
	font-size: 12px;
	overflow: hidden;
	float: right;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #7E7E7E;
}
/* Email Signup Style */
#email {
	color: #fff;
}
.eSign {
	margin: 0 auto;
	position: absolute;
	bottom:  30px;
	height-min: 70px;
	height: auto;
	width: 100%;
	left: 0px;
	right: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid black;
	display: inline-block;
	background: #1C1C1C;
	overflow: hidden;
}
.eSign p {
	float: left;
	font-size: 16px;
	color: #fff;
	padding: 12px 20px;
	margin: 14px 0;
}
.eInput {
	float: left;
	padding: 12px 20px;
	width: 400px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #7C3B74;
	border-top: 0px;
    border-radius: 5px;
    box-sizing: border-box;
	background: #1C1C1C;
	resize: vertical;
	color: #fff;
}
input[type=submit] {
    width: 200px;
    background-color: #1C1C1C;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
	border: 2px solid #7C3B74;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
#close {
    float: right;
    display: inline-block;
    padding: 12px 20px;
	margin: 14px 0;
	color: #fff;
	position: relative;
	right: 20px;
    background: #1C1C1C;
	cursor: pointer;
}
/* View More Style */
.vMore {
	float: right;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: 10px;
	top: 2px;
	cursor:pointer;
	height: 100%;
	width: 30px;
	overflow: hidden;
}
#wrapperFamily {
	margin: 0 auto;
	width: 400px;
	height: 125px;
}
#wrapperFamily p {
	z-index: 8000;
}
#wrapperFamily a {
	z-index: 8000;
}
#agape {
	float: left;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	z-index: 5000;
	height: 125px;
	width: auto;
}
#agape img {
	position: absolute;
	bottom: -20px;
	left: 0;
	height: 100%;
	width: auto;
}
#dad {
	float: left;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	z-index: 2000;
	height: 154px;
	width: auto;
}
#dad img {
	position: absolute;
	bottom: -20px;
	left: 80px;
	height: 100%;
	width: auto;
}
#enoch {
	float: left;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	z-index: 2000;
	height: 154px;
	width: auto;
}
#enoch img {
	position: absolute;
	bottom: -20px;
	left: 172px;
	height: 100%;
	width: auto;
}
#mom {
	float: left;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	z-index: 2000;
	height: 124px;
	width: auto;
}
#mom img {
	position: absolute;
	bottom: -20px;
	left: 242px;
	height: 100%;
	width: auto;
}
#link-boxContents {
	
}

/* Change color of current item in nav */
#home:target ~ header #navagation #link-home .iconHouse, 
#boxArt:target ~ header #navagation .iconBrowser,
#boxContents:target ~ header #navagation .iconContents,
#Map:target ~ header #navagation .iconMap,
#Play:target ~ header #navagation .iconContrast,
#App:target ~ header #navagation .iconMobile,
#Stats:target ~ header #navagation .iconChart{
	box-shadow: 1px 1px 2px rgba(207,90,86,1);
	background: rgba(204,82,128,0.9);
}

