@charset "UTF-8";
/* CSS Document */

#block {
	width: 470px;
	height: 300px;
	padding: 5px 29px;
/*	background: #00FF46;
	border: 10px solid #000000;*/
	color: #fff;
}
label {
	display: block;
	float: left;
	width: 10em;
	text-align: right;
	margin: 1em;
	padding-right: 3em;
}
input {
	display: block;
	float: left;
}
#confirm {
	background-color: #ce3700;
}