@charset "UTF-8";
/* CSS Document */
/* 
**
** Page Structure Style 
**
*/
body {
	background-color: #202020;
}
a {
	text-decoration: none;
}
#pageOuter {
	height: 100%;
	width: 100%;
	background-color: #202020;
	color: #fff;
}
#pageContainer {
	width: 1200px;
	position: relative;
	padding: 206px 14px 30px 0;
	margin: 0 auto;
}
main {
	margin: 0 auto;
	text-align: left;
}
/* 
**
** Hero Image Style 
**
*/
header {
}
.heroImg {
	margin: 0 auto;
	width: 100%;
	height: 120px;
	overflow: hidden;
	background: url(https://e-noch.github.io/Book_01/images/SideBox.JPG);
	background-repeat: no-repeat;
	background-position: center 54%;
	border-bottom: 2px solid;
	border-bottom-color: #7C3B74;
	position: absolute;
}
.heroImg img{
	width: 150%;
	height: auto;
}
/* 
**
** Dashboard Left Section Style 
**
*/
.dashboardLeft {
	float: left;
	width: 450px;
}
.dashboardLeft ul{
	list-style: none;
	text-decoration: none;
}
.bread {
	color: #A2A2A2;
	margin: 20px;
}
.dashboardLeft li{
	width: 308px;
	height: 100%;
	padding: 10px;
}
.dashboardLeft details{
	float: right;
	position: relative;
	bottom: 34px;
}
/* 
** Dashboard Left Section Line Highlight Style 
*/
.dashboardLeft p{
	width: 200px;
	font-size: 21px;
}
.sLHPosition {
	position: relative;
	right: 184px;
}
.sLHighlight {
	color: #fff;
	padding: 3px 11px;
	height: 65px;
	width: 1px;
	border: 2px solid #7C3B74;
	background-color: #1C1C1C;
	position: relative;
	z-index: 1;
	border-radius: 5px;
	margin: 0 0 0 140px;
}
.lHighlightTxt {
	width: 120px;
	height: auto;
	position: relative;
	z-index: 6;
	bottom: 44px;
}
.backback01 {
	width: 24px;
	height: 45px;
	position: relative;
    top: 12px;
	right: 10px;
    z-index: 2;
	background-color: #1C1C1C;
}
.C01 {
	border-color: #EA983E;
}
.C02 {
	border-color: #89C045;
}
.C03 {
	border-color: #52A769;
}
.C04 {
	border-color: #3275B8;
}
.C05 {
	border-color: #585858;
}
/* 
** Dashboard Left Section Button Style 
*/
.rulesButton  {
	color: #fff;
	padding: 3px 11px;
	height: 30px;
	width: 86px;
	border: 2px solid #7C3B74;
	background-color: #1C1C1C;
	position: relative;
	z-index: 1;
	border-radius: 5px;
	margin: 0 0 40px 140px;
}
.rBTxt {
	width: 120px;
	height: auto;
	position: relative;
	z-index: 6;
	bottom: 23px;
}
.backback {
	width: 113px;
	height: 30px;
	position: relative;
    top: 0;
	right: 13px;
    z-index: 2;
	background-color: #1C1C1C;
}
/* 
**
** Time Line Right Section Style 
**
*/
.module {
	float: left;
	width: 600px;
	height: 200px;
	margin: 0;
}
.module summary{
	float: right;
	margin: 0;
	position: relative;
	z-index: 200;
	bottom: 73px;
	right: 20px;
}
.timeLineRight {
	float: left;
	width: 550px;
	margin: 0 10px;
}
.cBadge {
	width: 82px;
	height: 62px;
	border-radius: 20px;
	background-color: #EA983E;
	position: relative;
	left: 0;
	float: left;
}
.userBadge {
	width: 59px;
	height: 59px;
	position: relative;
	left: 30px;
	overflow: hidden;
	border-radius: 50px;
	border: 2px solid #202020;
	margin-right: 20px;
}
.userBadge img{
	width: 70px;
	height: 70px;
}
.userContent {
	margin: 0 20px;
	width: 300px;
	position: relative;
	left: 20px;
	z-index: 1;
}
.userName {
	font-size: 16px;
	position: relative;
	top: 0px;
}
.userPost {
	font-size: 39px;
	position: relative;
	bottom: 0px;
}
.pCSummary {
	float: right;
	position: relative;
	z-index: 2;
}
/* 
** Feed Section Left Highlight Style 
*/
.sLHPosition02 {
	position: relative;
	right: 134px;
}
.sLHighlight02  {
	color: #fff;
	padding: 3px 11px;
	height: 80px;
	width: 25px;
	border: 2px solid #EA983E;
	background-color: #1C1C1C;
	position: relative;
	z-index: 1;
	border-radius: 5px;
	margin: 0 0 0 140px;
}
.lHighlightTxt02 {
	width: 120px;
	height: auto;
	position: relative;
	z-index: 6;
	bottom: 90px;
	right: 28px;
}
.lHighlightTxt02 ul {
	list-style: none;
	line-height: 20px;
}
.lHighlightTxt02 li {
	height: 12px;
	width: 50px;
}
.backback02 {
	width: 21px;
	height: 69px;
	position: relative;
    top: 6px;
	right: 14px;
    z-index: 3;
	background-color: #1C1C1C;
}
.pSTxt {
	color: red;
	font-size: 14px;
	float: left;
	margin: 4px;
}
.iconContainer {
	position: relative;
	color: #fff;
	height: 20px;
    width: 8px;
    padding: 0;
    margin: 17px 18px 14px 31px;
}
/* 
** Feed Left Data Module Style 
*/
.dateModule {
	width: 420px;
	height: 60px;
	margin: 5px 10px;
	padding: 5px 10px;
	border-bottom: 2px solid #171717;
}
.categoryTag {
	
}
.sLHighlight003  {
	color: #fff;
	padding: 3px 11px;
	height: 30px;
	width: 3px;
	border: 2px solid #EA983E;
	background-color: #1C1C1C;
	position: relative;
	z-index: 1;
	border-radius: 5px;
	margin: 10px 166px;
}
.lHighlightTxt003 {
	width: 120px;
	height: auto;
	position: relative;
	z-index: 6;
	bottom: 19px;
	right: 1px;
}
.categoryTag p {
	font-size: 12px;
}
.backback003 {
	width: 21px;
	height: 28px;
	position: relative;
    top: 1px;
	left: 14px;
    z-index: 3;
	background-color: #1C1C1C;
}
.lastComment {
	float: right;
	display: inline-block;
	width: 200px;
	position: relative;
	bottom: 30px;
	
}
.lastComment p {
	width: 74px;
	height: 20px;
	font-size: 12px;
	display: inline-block;
	float: right;
}

.iconContainer003 {
	position: relative;
	bottom: 5px;
	left: 20px;
	margin: 0;
    padding: 0;
}

.iconContainer0030 {
	position: relative;
	bottom: 5px;
	left: 190px;
	margin: 0;
    padding: 0;
}
